*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(237, 169, 237);
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(237, 169, 237);
    color: #fff;
}
h1{
    font-family: sans-serif;
    font-style: italic;
    margin: 3%;
}
img{
    width: 30%;
}
.button{
    display: flex;
    justify-content: center;
}
.button-1 {
    background-color: #EA4C89;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 5%;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
  }
  
  .button-1:hover{
    background-color: #F082AC;
  }
  @media only screen and (max-width: 500px){
    img{
        width: 50%;
    }
}
.random{
    position: absolute;
    z-index: 1;
    transition: .5s;
}
.yes{
    display: none;
}

